/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p{
	font-family: 'Open Sans', sans-serif;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left1,.w3layouts_mail_grid_left2 a,.w3layouts_services_grid_main,.agileits_w3layouts_nav_right ul li a,.w3layouts_banner_info_right ul li a,.wthree_copy_right p a,.agile_map_grid ul li a,.agileits_w3layouts_footer_grid ul li a{
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

/* header */

header h1 {
    line-height: 0;
}
#premios{
    background-color: rgba(0,0,0,0.7);
}
#premiar{
    background-image: url("/images/prize.jpg");
    background-size:     cover;      
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;  
}
#kit_b{
    background-color:   rgba(0,0,0,0.8);
}
#kits{
    background-image: url("/images/kit.jpg");
     background-attachment:     fixed;
    background-repeat:   no-repeat;
    
}
#banner-img{
    width: 50%;
    transition: 2s;
}
#banner-img:hover{
    width: 60%;
    transition: 2s;
}
#contact{
     background-image: url("/images/rules.jpg");
     background-attachment:     fixed;
    background-repeat:   no-repeat;
    
}
.navbar{
	padding: 1rem;
}
a.navbar-brand i.fas {
    font-size: 35px;
    margin-right: 10px;
    color: #e2b13c;
}

.navbar-light .navbar-brand {
    font-size: 2em;
    color: #48bf91;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #FAB702;
}
#cabeza{
    position: fixed;z-index: 1;background-color: rgba(28,24,2,0.9);
}
#organizan{
    padding:1%;
    transition: 1s;
}
.bounceIn{

  animation-duration: 13s;
  animation-delay: 2s;
  animation-iteration-count:3;
}
a{text-decoration: none;
color:black;}
#contact-box{
    background-color: white;
    border-radius: 3%;
    padding: 2%;
    margin:10%;
    transition: 1s;
}
#contact-box:hover{

    background-color:#fff200; 
    transition: 1s;
}
#organizan:hover{
padding:3%;
transition: 1s;
}
#loader {
  position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible;
  height: 100%;
  width: 100%;
  padding-top:4%; 
  background-color: white;
  }

#logos{
    background-color: white;
}
#inscripciones>li{
    display: inline-block;


}
#premios{
    background-image: url("/images/winner.jpg");
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
    background-attachment: fixed;
}
.regla{
    
    background-color:black;
    color:white;
    margin: 4%;
    padding: 3%;
    border-radius: 3%;
    transition: 1s;
}
.regla:hover{
    border-radius: 15%;
    background-color: rgba(26, 19, 8,0.9);
    transition: 1s;
}
#services{
    
    
    background-image: url("/images/ins.jpg");    
    background-color: black;
    background-repeat: repeat;
    background-attachment: fixed;
    color:white;
}

.jackInTheBox{
      animation-duration: 12s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


header h1 a span {
    color: #fff;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: capitalize;
   color: #FAB702;
    opacity: 1;
    letter-spacing: 1px;
}
.dropdown-item{
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active ,.dropdown-item:hover{
    color: #e2b13c;
    background: #fff;
    border-radius: 5px;
	color: #333;
}

.w3ls-btn,.w3ls-btn1:hover {
    letter-spacing: 1px;
    font-size: 15px;
    background: #e2b13c;
    border-color: #e2b13c;
}
.w3ls-btn:hover,.w3ls-btn1  {
    background: #333;
    border-color: #333;
    letter-spacing: 1px;
    font-size: 15px;
}
.top-head {
    background: #18191b;
    border-bottom: solid 1px rgba(0,0,0,0.0);
}
/*-- //header --*/

/* login and register modal */

.right-w3l input[type="submit"] {
    background: #333;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 10px;
}

.right-w3l input[type="submit"]:hover {
    background: #444;
}

.col-form-label {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
}



.modal-header {
    background: #e2b13c;
    color: #fff;
    border: none;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2%;
    background: #fff;
    transition: 1s;
}

h5.modal-title {
    letter-spacing: 1px;
    font-size: 1.5em;
    padding-left: 18px;
}

/* //modal */

/*-- banner-slider --*/
.w3layouts-banner-top{
    background: url(../images/b2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top1{
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top2{
    background: url(../images/b3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top3{
    background: url(../images/b4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top4{
    background: url(../images/b5.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.w3l-slide-text {
    margin-top: 17em;
}
.w3l-slide-text h1,.w3l-slide-text h2,.w3l-slide-text h3 {
    color: #fff;
    font-size: 55px;
	font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #292828;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.w3l-slide-text p.heading_bottom{
	border: none;
	color: #eee;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 28px;
	width: 70%;
	margin: 0 auto;
    
}
 a.button-style {
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-size: 15px;
    border: 1px solid #e2b13c;
    text-transform: capitalize;
	padding: 10px 30px;
	background: #e2b13c;
 }
 a.button-style1 {
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-size: 15px;
    border: 1px solid #fff;
    text-transform: capitalize;
	padding: 10px 30px;
 }
 a.button-style1:hover{
	background: #e2b13c;
    border: 1px solid #e2b13c;
 }
 a.button-style:hover{
	background: transparent;
    border: 1px solid #fff;
 }
/*-- //banner-slider --*/
/*--/banner-bottom --*/
.w3-head-all h3 {
    font-size: 3em;
    color: #333;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.product {
	background: url(../images/ab2.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}

.about-info {
	padding: 0;
}

.about-img {
	background: url(../images/ab1.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	min-height: 800px;
}

.ab-info-text {
	padding: 5em;
}
.inner-sec {
	margin-top: 3em;
}

h3.tittle,
.feature h3 {
	font-size: 2.5em;
	color: #373b3e;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	font-weight: 700;
	text-transform: uppercase;
}

h4.sub-hd {
	font-size: 1.3em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	letter-spacing: 3px;
	color: #111;
	text-transform: uppercase;
	font-weight: 700;
}

h3.tittle.cen {
	color: #fff;
}
a.button-style2 {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.banner-bottom.services {
	background: #EB2941;
}
/*--//banner-bottom --*/

/* Services */

.ser_grid1 img {
    width: 100%;
}
.ser_info i.fas.icon {
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #111;
    color: #fff;
    float: left;
}
.ser_info i.fa.fa-plus {
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #111;
    color: #fff;
    float: right;
}
.ser_info h4 {
    text-align: center;
    float: left;
    width: 268.25px;
    height: 45px;
    line-height: 45px;
	color:#fff;
	letter-spacing: 1px;
    background: #FAB702;
}
.ser_all a {
    text-align: center;
    font-size: 17px;
    padding: 10px 30px;
    background: #333;
    color: #fff;
	letter-spacing: 1px;
    text-transform: capitalize;
}
.ser_all a:hover {
    background: #18ba60;
}
.ser_all {
    text-align: center;
    margin-top: 3em;
}
.ser_grid1 p {
    margin-top: 1.5em;
    line-height: 24px;
    font-size: 15px;
	color: #333;
	font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* //Services */

/*-- stats --*/
#stats {
    
    background-size: cover;
    background-color:#1A1208;
}

.stats h3.heading{
	color:#fff;
}
.travel span.glyphicon.glyphicon-play-circle {
    margin-bottom: 0;
}
p.counter{
	font-size: 3em;
    color: #fab702;
    font-weight: bold;
}
.agileinfo_stats_grid h3{
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
}
.w3_agileits_head1{
	color:#212121 !important;
}
.agileinfo_stats_grid {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    padding: 2.5em 0;
}
p.w3l-par-st {
    margin-top: 3em;
    color: #fff;
    text-align: left;
}
.w3-head-stats h3 {
    color: #fff;
}
/*-- //stats --*/

/* testimonials */
.testimonials{
	background-color: #FAB702;
    color: #fff200;
    
    
    
}
.testimonials-grid-1 {
    width: 200px;
}
.w3-testimonials-head h3 {
    color: #fff;
}

.testimonials h5 {
    font-size: 25px;
    color: white;
}
.w3l-info1 h1{
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
	line-height:1.4em;
	letter-spacing:0.2em;
    font-weight: 900;
}
.w3l-info1 p {
    font-size: 15px;
    color: #000;
	letter-spacing: 1px;
    line-height: 1.8em;
    margin-top: 20px;
	margin-bottom:15px;
    padding-right: 60px;
}
.w3l-info1 h3 {
    font-size: 3em;
	color:#999;
}
.testimonials h5 {
    font-size: 16px;
    color: #FAB702;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.testimonials i.fa.fa-quote-left {
    margin-right: 1em;
    color: #333;
}
.testimonials i.fa.fa-quote-right {
    margin-left: 1em;
    color: #333;
}
.testimonials h4 {
    font-size: 22px;
    color: #FAB702;
    text-transform: uppercase;
    
}
.flexslider .slides > li {
    display: block;
}
/* //testimonials */
/*-- gallery --*/

.section_1_gallery_grid {
	margin-top: 1em;
}

.w3_section_1_gallery_grid {
	padding: 0 8px;
}

.section_1_gallery_grid1 {
	position: relative;
	background: #edf3f3;
	padding: 6px;
}

.proj_gallery_grid1_pos {
	background: rgba(14, 15, 16, 0.59);
	bottom: 23px;
	left: 30px;
	opacity: 0;
	padding: 1em;
	position: absolute;
	right: 30px;
	text-align: center;
	visibility: hidden;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.proj_gallery_grid1_pos h3 {
	font-size: 1.3em;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.proj_gallery_grid1_pos p {
	color: #fff;
	letter-spacing: 1px;
	font-size: 14px;
}

.section_1_gallery_grid:hover .proj_gallery_grid1_pos {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}

.banner-bottom.gallery {
	padding: 5em 0;
}

p.quia {
	font-size: 1.2em;
	color: #140b05;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.proj_gallery_grid img {
	width: 100%;
}

/*-- //gallery --*/

/*-- TEAM --*/
.agileinfo_banner_bottom_grid_main:before,.agileinfo_banner_bottom_grid_main:after{
	content: '';
    position: absolute;
    top: 50%;
    width: 34%;
    height: 2px;
    background: #212121;
}
.agileinfo_banner_bottom_grid_main:before{
	left:0%;
}
.agileinfo_banner_bottom_grid_main:after{
	right:0%;
}
.wthree_banner_bottom_grid1{
	width: 95px;
    height: 60px;
    border: 2px solid #212121;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
}
.agileinfo_banner_bottom_grid_main{
	position:relative;
}
.wthree_banner_bottom_grid1 p{
	font-size: 1.8em;
    color: #f5232e;
    line-height: 1.9em;
}
.w3_agileits_banner_bottom_grid{
	padding:0;
}
/*-- layla --*/
.agileits_grid  {
}
.agileits_grid figure {
	position: relative;
    overflow: hidden;
    height: 308px;
    text-align: center;
}
.agileits_grid:hover figure{
	background: #000000;
}
.agileits_grid figure img {
	position: relative;
}

.agileits_grid figure figcaption {
	padding: 2em;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.agileits_grid figure figcaption::before,
.agileits_grid figure figcaption::after {
	pointer-events: none;
}

.agileits_grid figure figcaption,
.agileits_grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h3 {
	padding-top: 2.6em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    font-size: 1.5em;
    color: #35e034;
    font-weight: 600;
	opacity: 0;
}

figure.effect-layla p {
	padding: 1em 2em 0;
    text-transform: none;
    color: #fff;
    line-height: 2em;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-layla ul{
	opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
	padding: 7.5em 0 0;
}

figure.effect-layla h3 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,figure.effect-layla h3,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p,figure.effect-layla ul {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform:translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h3,
figure.effect-layla:hover p,figure.effect-layla:hover ul {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h3,
figure.effect-layla:hover p,
figure.effect-layla:hover img,figure.effect-layla:hover ul {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
/*-- //layla --*/

.agile_banner_social{
	position:absolute;
	bottom:5%;
	right:5%;
}
.agile_banner_social ul li{
	display: block;
    margin: 1em 0;
}
.agileits_social_list li a{
	width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border: 2px dotted #fff;
}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#fff;
}
a.w3_agile_facebook:hover{
	background:#3b5998;
	border-color:#3b5998;
}
a.agile_twitter:hover{
	background:#1da1f2;
	border-color:#1da1f2;
}
a.w3_agile_dribble:hover{
	background:#ea4c89;
	border-color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	background:#1ab7ea;
	border-color:#1ab7ea;
}
.w3_team_grid1 ul li {
    display: inline-block;
}
.w3layouts_team_grid h4{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FAB702;
}
.w3layouts_team_grid p {
    letter-spacing: 3px;
    color: #000;
    font-size: 15px;
}
h3.heading {
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #1b1b1b;
}
.odometer1 h3.heading,.help h3.heading {
    color: #fff;
}
/*-- //Team --*/

/*--/mail--*/

.mail {
	background: #141414;
}
.contact-head h3 {
    color: #fff;
}
.mail_grid_right_agileits_w3 input[type="text"],
.mail_grid_right_agileits_w3 input[type="email"],
.mail_grid_right_agileits_w3 textarea {
	outline: none;
	padding: 15px 15px;
	font-size: 14px;
	color: #777;
	background: #fff;
	width: 100%;
	letter-spacing: 1px;
	border: none;
}

.mail_grid_right_agileits_w3 textarea {
    min-height: 150px;
    margin: 1em 0em;
    width: 100% !important;
    resize: none;
}

.mail_grid_right_agileits_w3 input[type="submit"],
.mail_grid_right_agileits_w3 input[type="reset"] {
	outline: none;
	padding: 15px 0;
	font-size: 12px;
	color: #fff;
	background: #000000;
	width: 45.9%;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 1.4em;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.mail_grid_right_agileits_w3 input[type="submit"]:hover,
.mail_grid_right_agileits_w3 input[type="reset"]:hover {
	background: #ffa41f;
	color: #000;
}

.mail_grid_right_agileits_w3 input[type="text"]:nth-child(2),
.mail_grid_right_agileits_w3 input[type="email"] {
	margin: 1em 0 0;
}
.mail_grid_right_agileits_w3 {
    padding-left: 0;
}
.contact-left .fa {
	font-size: 1.2em;
	color: #ffffff;
 margin-bottom: 1em;
}

.contact-left h4,
.contact-left h5 {
	text-align: left;
}

.contact-left h4 {
	color: #fff;
	font-size: 1em;
	margin-bottom: .5em;
	letter-spacing: 1px;
}

.contact-left p {
	color: #928c8c;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.contact-left p a {
	color: #928c8c;
}

.contact-left p a:hover {
	color: #E91E63;
}

.mail-us {
	padding: 2em 0;
}

.call {
	padding-bottom: 2em;
}

.mail_grids_wthree_agile_info h5 {
	font-size: 1.2em;
	color: #ffa41f;
	margin-bottom: 1.5em;
	padding-left: 16px;
	letter-spacing: 1px;
	font-weight: 400;
}

.copy {
	text-align: center;
	background: #000;
}

.copy p {
	color: #fff;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 1.5em 0;
}

.copy p a {
    color: #ffa41f;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.map_w3layouts iframe {
    width: 100%;
    min-height: 300px;
    margin-top: 4em;
}
/*-- //mail --*/


/*--//footer--*/


/*--to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 2%;
	overflow: hidden;
	z-index: 0; 
   width: 42px;
    height: 42px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr1.png") no-repeat 0px 0px;
	background-size: 40px;
}
#toTopHover {
       width: 45px;
    height: 45px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
@media(max-width:1440px){
	.ser_info h4 {
    width: 235.6px;
}
}
@media(max-width:1366px){
	.w3l-slide-text {
    margin-top: 14em;
     }
	 .ser_info h4 {
    width: 216.6px;
    font-size: 1.3em;
    }

}
@media(max-width:1280px){
	.ser_info h4 {
    width: 195.6px;
    font-size: 1.2em;
}
}
@media (max-width:1080px){

.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    color: #fff;
    font-size: 42px;
}
.ser_info i.fas.icon {
    width: 35px;
}
.ser_info i.fa.fa-plus {
    width: 35px;
}
.ser_info h4 {
    width: 165.6px;
    font-size: 1em;
}
.ser_grid1 p {
    font-size: 14px;
}
}
@media (max-width:1024px){
.w3layouts-banner-top {
    min-height: 500px;
}
.w3l-slide-text {
    margin-top: 9em;
}
.ser_info i.fa.fa-plus {
    width: 31px;
}
.ser_info i.fas.icon {
    width: 31px;
}
.ser_info i.fa.fa-plus {
    width: 25px;
}
}
@media (max-width:991px){
    #cabeza{
        position: absolute;z-index: 1;background-color: rgba(28,24,2,0.9);
    }
.buttons {
    text-align: center;
}
.navbar-toggler {
    background-color: white;
}
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 35px;
}
.w3l-slide-text p.heading_bottom {
    width: 100%;
}
.ab-info-text {
    padding: 3em;
}
.ser_info h4 {
    width: 400.6px;
    font-size: 1.5em;
}
.ser_grid-gap {
    margin-top: 4em;
}
.team-gap {
    margin-top: 2em;
}
p.counter {
    font-size: 2.5em;
}
.agileinfo_stats_grid {
    width: 150px;
    height: 150px;
    padding: 2em 0;
}
.proj_gallery_grid1_pos h3 {
    font-size: 1.1em;
    letter-spacing: 1px;
}
.mail_grids_wthree_agile_info h5 {
    font-size: 1em;
}
.mail_grid_right_agileits_w3 input[type="submit"], .mail_grid_right_agileits_w3 input[type="reset"] {
    width: 41.9%;
}
.w3-head-all h3 {
    font-size: 2.8em;
}
}
@media (max-width:800px){
.ser_info h4 {
    width: 305px;
    font-size: 1.5em;
}
}
@media (max-width:768px){
.ser_info h4 {
    width: 289px;
    font-size: 1.5em;
}
.w3-head-all h3 {
    font-size: 2.5em;
}
}
@media (max-width:736px){
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 28px;
}
.ser_info h4 {
    width: 273px;
    font-size: 1.5em;
}
.stat-gap {
    margin-top: 2em;
}
.about-img {
    min-height: 500px;
}
}
@media (max-width:667px){
.ser_info h4 {
    width: 239px;
    font-size: 1.2em;
}
}
@media (max-width:734px){
.ser_info h4 {
    width: 271px;
}
}
@media (max-width:684px){
.ser_info h4 {
    width: 247px;
}
}
@media (max-width:640px){
.ser_info h4 {
    width: 225px;
    font-size: 1.2em;
}
}
@media (max-width:600px){
.ser_info h4 {
    width: 205px;
    font-size: 1.2em;
}
}
@media (max-width:568px){
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 25px;
    letter-spacing: 1px;
}
.w3l-slide-text {
    margin-top: 6em;
}
.ab-info-text {
    padding: 2em;
}
.w3layouts-banner-top {
    min-height: 400px;
}
.w3l-slide-text {
    margin-top: 4em;
}
.ser_info h4 {
    width: 465px;
    font-size: 1.2em;
}
.ser_grid-gap {
    margin-top: 2em;
}
.ser_grid-gap1 {
    margin-top: 2em;
}
.stat-gap1 {
    margin-top: 2em;
}
.mail_grid_right_agileits_w3 {
    padding-left: 15px;
}
.mail_grid_right_agileits_w3 input[type="text"], .mail_grid_right_agileits_w3 input[type="email"], .mail_grid_right_agileits_w3 textarea {
    margin-top: 1em;
}
}
@media (max-width:480px){
.w3-head-all h3 {
    font-size: 2.3em;
}
.ser_info h4 {
    width: 377px;
    font-size: 1.2em;
}
}
@media (max-width:414px){
	.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
.w3l-slide-text p.heading_bottom {
    font-size: 14px;
}
.w3l-slide-text {
    margin-top: 3em;
}
.navbar-light .navbar-brand {
    font-size: 1.5em;
}
.about-img {
    min-height: 400px;
}
.ser_info h4 {
    width: 311px;
    font-size: 1.2em;
}
.testimonials-grid-2 {
    margin-top: 2em;
}
.w3-head-all h3 {
    font-size: 2em;
}
}
@media (max-width:412px){
.ser_info h4 {
    width: 309px;
    font-size: 1.2em;
}
}
@media (max-width:384px){
.ser_info h4 {
    width: 281px;
    font-size: 1.2em;
}
h4.sub-hd {
    font-size: 1.2em;
}
}
@media (max-width:375px){
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 18px;
    letter-spacing: 1px;
}
.w3l-slide-text {
    margin-top: 2em;
}
h4.sub-hd {
    font-size: 1.1em;
    letter-spacing: 1px;
}
.ser_info h4 {
    width: 272px;
    font-size: 1.2em;
}
.mail_grids_wthree_agile_info h5 {
    font-size: 1em;
    letter-spacing: 0px;
}
.copy p {
    letter-spacing: 1px;
}
}
@media (max-width:320px){
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 17px;
    letter-spacing: 1px;
}
.w3l-slide-text h1, .w3l-slide-text h2, .w3l-slide-text h3 {
    font-size: 15px;
    letter-spacing: 1px;
}
h4.sub-hd {
    font-size: 1em;
    letter-spacing: 1px;
}
.about-img {
    min-height: 284px;
}
.ser_info h4 {
    width: 217px;
    font-size: 1.2em;
}
.w3-head-all h3 {
    font-size: 1.7em;
}
}